<!doctype html>
<html>
<head>
  <title>Prueba Vue</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div id="aplicacion">
    <p>Ingrese primer valor:
      <input type="number" v-model="valor1">
    </p>
    <p>Ingrese segundo valor:
      <input type="number" v-model="valor2">
    </p>
    <p>Ingrese primer valor:
      <button v-on:click="sumarValores">Sumar</button>
    </p>
    <p>El resultado de la suma es igual a {{suma}}</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    var app=new Vue({
      el: '#aplicacion',
      data:{ 
        valor1: 0,
        valor2: 0,
        suma: ''
      },
      methods: {
        sumarValores: function() {
          this.suma = parseInt(this.valor1) + parseInt(this.valor2);
        }
      }      
    })
  </script>
</body>
</html>
